.custom-modal {
    .pokemon-details {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
    
    .pokemon-info {
        text-align: left;
        font-size: 1.2em;
        width: 100%;
        max-width: 400px;
    }
}
  
  
  